<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Add Products</title>
</head>
<body>

	<form action="/product/add" method="post" >
	
	<label for="productName">productName </label><br>
  	<input type="text" id="productName" name="productName"><br>
  	
  	<label for="price">Price </label><br>
  	<input type="text" id="price" name="price"><br>
  	
  	<label for="category">category</label><br>
  	<input type="text" id="category" name="category"><br>
  	
  	<button type="submit">Submit</button>
  	
	</form>
	


</body>
</html>